[Desktop Entry]
Encoding=UTF-8
Name=Raven Core
Comment=Connect to the Raven P2P Network
Comment[de]=Verbinde mit dem Raven peer-to-peer Netzwerk
Comment[fr]=Raven, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Raven, eşten eşe kriptografik sanal para birimi
Exec=carrot-qt %u
Terminal=false
Type=Application
Icon=carrot128
MimeType=x-scheme-handler/carrot;
Categories=Office;Finance;
